.Header {
  width: 100%;
  height: 15px;
  background-image: linear-gradient(
    122deg,
    #963633 8.33%,
    #48987a 8.33%,
    #48987a 16.67%,
    #ac7037 16.67%,
    #ac7037 25%,
    #bf9856 25%,
    #bf9856 33.33%,
    #2974b6 33.33%,
    #2974b6 41.67%,
    #5e99c7 41.67%,
    #5e99c7 50%,
    #963633 50%,
    #963633 58.33%,
    #48987a 58.33%,
    #48987a 66.67%,
    #ac7037 66.67%,
    #ac7037 75%,
    #bf9856 75%,
    #bf9856 83.33%,
    #2974b6 83.33%,
    #2974b6 91.67%,
    #5e99c7 91.67%,
    #5e99c7 100%
  );
  background-size: 84.9px 135.87px;
}
