.container {
  background-color: red;
  height: 100%;
  padding: 1em;
  background-color: rgba(222, 193, 148, 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.grids {
  border: 2px dotted black;
}

.grids:hover {
  border: 2px solid black;
  box-shadow: 0 2px 3px black;
}
